/*

        << general >>

color:                  #f7f7f7;
background-color:       #D50000; 
border-color:           #f7f7f7;

        << link <a> >> 

color:                  #333;
hover-color:            #D50000; 
hover-background-color: #e7e7e7;

*/

/**************************** BEGIN general ****************************/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
body > .container-fluid {
    padding: 60px 0 40px 0;
}
/**************************** END general ****************************/


/**************************** BEGIN navigator ****************************/
#topnav_main {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    background-color: #f7f7f7;
    border: none;
}
    #topnav_main .navbar-brand {
        margin-left: 0px;
    }
.navbar-brand {
    padding: 0px;
}
    .navbar-brand>img {
        height: 100%;
        padding: 0.5em 0.5em 0.5em 0;
        width: auto;
    }
#topnav_left a, #topnav_right a {
    color: #333;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#topnav_left a:hover, #topnav_right a:hover {
    color: #D50000;
    background-color: #e7e7e7;
}
.navbar-right {
    margin-right: 0px;
}
#topnav_main .active_li > a {
    color: #f7f7f7;
    background-color: #D50000;
}
/**************************** END navigator ****************************/



/**************************** BEGIN page welcome ****************************/
.promo {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    padding: 2em 0 ;
}
.jumbotron {
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom: 0;
}
.btn_general {
    border: 0.1em solid  #D50000;
    color: #333;
    background-color: white;
}
.btn_general:hover {
    color: #f7f7f7;
    background-color: #D50000;
    border-color: #f7f7f7;
    transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;  
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}
.indent_left {
    margin-left: 0.5em;
}
.page-header {
    margin-top: 0;
    border-bottom: 1px solid #e7e7e7;
}
.welcome_li {
    padding-left: 0.5em;
    text-indent: -0.5em;
    list-style: none;
}
    .welcome_li li {
        cursor: pointer;
        padding-bottom: 0.2em;
    }
    .welcome_li li:last-child {
        padding-bottom: 0px;
    }
    .welcome_li a {
        color: #333;
        text-decoration: none;
        display: block; 
        width: 100%; 
        height: 100%;
        padding: 0.1em 0;
    }
    .welcome_li a:hover {
        color: #D50000;
        background-color: #e7e7e7;
}
/**************************** END page welcome ****************************/


/**************************** BEGIN page blog ****************************/
#block_categories h3 {
    margin-top: 0;
}
#block_post {
    margin-top: 3em;
}
    #block_post:first-child {
        margin-top: 0;
    }
.title_post h2 {
    margin: 0;
}
.info_about_post p {
    margin: 0.5em 0;
}
.content_post p {
    margin: 0;
}
.view_post {
    margin-top: 0.5em;
}
    .view_post a {
        width: 100%;
    }
.label-span {
    color: #f7f7f7;
    background-color: #D50000;
    margin-left: 0.8em;
}
.link_post {
    color: #D50000;
    text-decoration: underline;
    cursor: pointer;
}
.link_post:hover {
    color: #D50000;
}
.info_about_post p {
    display: inline-block;
}
.right_paragraph {
    float: right;
}
.image_post {
    text-align: center;
}
    .image_post img {
       width: 100%;
       height: auto;
    }
/**************************** END page blog ****************************/


/**************************** BEGIN page create post ****************************/
#block_create_post h1 {
    margin-top: 0;
}
/**************************** END page create post ****************************/


/**************************** BEGIN page edit post ****************************/
#block_edit_post h3 {
    margin-top: 0;
}
/**************************** END page edit post ****************************/

/**************************** BEGIN page show posts ****************************/
#top_panel_show_posts h1 {
    margin: 0;
}
/**************************** END page show posts ****************************/


/**************************** BEGIN other for pages ****************************/
.padding_zero {
    padding: 0;
}
.center_div {
    margin-top: 5em; 
    margin-bottom: 3em;
}
.form_control {
    border: none;
    border-radius: 0;
    border-bottom: 0.05em solid #d9d6ce;
    box-shadow: none;
}
.form_control:focus {
    box-shadow: inset 0px -0.1em 0px 0px rgba(215,12,1,1);
    border-bottom: none;
}
/**************************** END other for pages ****************************/


/**************************** BEGIN footer ****************************/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f7f7f7;
    box-shadow: 0 -1px 5px rgba(0,0,0,.26); 
}
.social_panel {
    margin: 0.5em 0;
}
    .social_panel li:first-child {
        padding-left: 0;
    }
    .social_panel li {
        -webkit-transition: -webkit-transform .7s;
        -moz-transition: -moz-transform .7s;
        -ms-transition: -ms-transform .7s;
        -o-transition: -o-transform .7s;
        transition: transform .7s;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .social_panel li:hover {
        -webkit-transform: scale(1.3,1.3) rotate(10deg);
        -moz-transform: scale(1.3,1.3) rotate(10deg);
        -ms-transform: scale(1.3,1.3) rotate(10deg);
        -o-transform: scale(1.3,1.3) rotate(10deg);
        transform: scale(1.3,1.3) rotate(10deg);
    }
    .social_panel li a {
        color: #333333;
    }
    .social_panel li a:hover {
        color: #D50000;
    }
.copyright_p {
    margin-top: 1.2em;
}
/* #copy_right p {
    margin-top: 1.2em;
} */
/**************************** END footer ****************************/