#top_nav {
    background-color: #f7f7f7;
}

#link_logo {
    padding-left: 0.5em;
}

#reg_and_sign_up {
    padding-right: 1em;
}

.nav_a a {
    color: #333333;
    padding-left: 0;
}

.nav_a a:hover {
    color: #D70C01;
}

.active_li a{
    color: white;
    background-color: #D70C01;
} 

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 0.5em;
    width: auto;
}

.navbar-nav li > a {
    padding-left: 0.5em;
    padding-right: 0.5em;
} 


/* main content welcome */
.jumbotron {
    background-color: #f7f7f7;
}
