.navbar {
    background-color: #f7f7f7;
}
.nav a {
    color: black;
    padding: 0.2em;
} 

.nav a:hover {
    color: #D70C01;
}

.active_li a{
    color: white;
    background-color: #D70C01;
} 

#form_search {
    margin-bottom: 0;
    padding: 0;
}
